@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<header>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        $(function () {
            //var connection = $.hubConnection("QuotesHub");
            //var hub = connection.createHubProxy("QuotesHub");

            // Declare a proxy to reference the hub. 
            var chat = $.connection.QuotesHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (cvalue) {
                $('#discussion').append('<li><strong>' + cvalue
                    + '</strong>:&nbsp;&nbsp;' + cvalue + '</li>');
            };
            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.  
            //$('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub. 
                    chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment. 
                    $('#message').val('').focus();
                });
            });
        });


    </script>

</header>

@ViewData["Message"]

<div>
    @RenderPage("~/Views/Currency/CurTable.cshtml", new { currency = "USD" })
</div>

<div class="row">
    <h1>ASP.NET SignalR Stock Ticker Sample</h1>

    <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>

</div>